---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year_data in site.data.publications %}
        {% assign year = year_data[0] %}
        {% assign papers = year_data[1] %}
        {% assign num_papers = papers | size %}
        <h2 class="pt-4" id="year-{{ year }}">{{ year }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in papers %}
                {% include widgets/publication_item_data.html item=item hide_bottom_border=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year_data in site.data.publications %}
            {% assign year = year_data[0] %}
            <a class="nav-link d-block" href="#year-{{ year }}">{{ year }}</a>
            {% endfor %}
        </div>
    </div>

</div>
