{% assign item = include.item %}
<div class="{% unless include.hide_bottom_border %}border-bottom{% endunless %} border-gray p-3">
    <h6 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h6>
    <p class="mt-0 mb-1 small">
        {% for author in item.authors %}
            {% if author == "Yutao Yue" %}<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </p>
    <p class="mt-0 mb-0 small text-muted"><i>{{ item.venue }}</i></p>
</div>
