<div class="my-3 p-0 bg-white shadow-sm rounded-xl">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Recent Publications{% endif %} 
        <a href="{{ 'publications' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    
    {% assign all_selected = "" | split: "" %}
    {% for year_data in site.data.publications %}
        {% assign year = year_data[0] %}
        {% assign papers = year_data[1] %}
        {% for paper in papers %}
            {% if paper.selected %}
                {% assign all_selected = all_selected | push: paper %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {% for item in all_selected limit:include.limit %}
        {% include widgets/publication_item_data.html item=item hide_bottom_border=forloop.last %}    
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="{{ 'publications' | relative_url }}">All publications <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>
